<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year.ToString()
    </div>
    @* <custom-email my-email="gauravparange@gmail.com"></custom-email> *@
</footer>