@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@if (_signInManager.IsSignedIn(User))
{
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >
            Hello <b> @(User.FindFirst("UserFirstName").Value + ' ' + User.FindFirst("UserLastName").Value)</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-action="logout" asp-controller="Account">Logout</a>
            <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change Password</a>
        </div>
    </li>
}
else
{
    
    <li class="nav-item">
        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="login" asp-route-returnUrl="@Context.Request.Path">Login</a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="signup">Register</a>
    </li>
}