@using BookStore.Enums
@model BookModel

<div class="container">
    <h3 class="display-4">Add new book.</h3>

    @if(ViewBag.issuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations!</strong> You have added new book succesfully.<br />
            Click <a asp-action="GetBook" asp-controller="book" asp-route-id="@ViewBag.bookId">here</a> to view details.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    
    <form method="post" asp-action="AddNewBook" asp-controller="Book">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>



        @* <div class="form-group">
            <label asp-for="MyField" class="control-label"></label>
            <input asp-for="MyField" class="form-control" />
            <span asp-validation-for="MyField" class="text-danger"></span>
        </div> *@

        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
            
        <div class="form-group">
            <label asp-for="Author" class="control-label"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="Language" class="control-label"></label>
            <select asp-for="Language" class="form-control" asp-items="ViewBag.Langauage">
                <option value="">Please choose your language</option>
                <@* <option value="Hindi">Hindi (Indian)</option>
                <option value="English">English (us)</option>
                <option value="Dutch">Dutch (french)</option> *@

                </select>
            <span asp-validation-for="Language" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="LanguageEnum" class="control-label"></label>
            <select asp-for="LanguageEnum" class="form-control" asp-items="Html.GetEnumSelectList<LanguageEnum>()">
                <option value="">Please choose your language</option>
                <@* <option value="Hindi">Hindi (Indian)</option>
                <option value="English">English (us)</option>
                <option value="Dutch">Dutch (french)</option> *@

                </select>
            <span asp-validation-for="LanguageEnum" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="MultiLanguage" class="control-label"></label>
            <select asp-for="MultiLanguage" class="form-control" asp-items="ViewBag.Langauage">
                <option value="">Please choose your language</option>
                <@* <option value="Hindi">Hindi (Indian)</option>
                    <option value="English">English (us)</option>
                    <option value="Dutch">Dutch (french)</option> *@

            </select>
            <span asp-validation-for="MultiLanguage" class="text-danger"></span>

        </div>


        <div class="form-group">

            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        @* <div class="form-group">

            <label asp-for="Category"></label>
            <input asp-for="Category" class="form-control"></input>
        </div> *@
        <div class="form-group">

            <label asp-for="TotalPages" class="control-label"></label>
            <input asp-for="TotalPages" class="form-control"></input>
            <span asp-validation-for="TotalPages" class="text-danger"></span>

        </div>
        <div class="form-group">
            <input type="submit" value="Add Book" class="btn btn-primary" />
        </div>

    </form>
</div>
