@{
    ViewData["Title"] = "All books";
};

<div class="container">

    <h3 class="display-4">All books</h3>

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4">
            <partial name="_bookThumbnail" model="@item" />
            </div>
        }
       
    </div>
</div>